.col3 {
    display: flex;
    justify-content: space-between;
}

.text-red {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    .more {
        background: red;
        padding: 15px 40px 15px 40px;
        border-radius: 30px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 25px;
    }
}

.text-red.m {
    margin-top: 50px;
    justify-content: left;
}