footer {
    background: #000;
    .container {
        .footer {
            &__top {
                text-align: center;
                padding-top: 50px;
                h1 {
                    color: white;
                    font-size: 30px;
                    font-family: arial;
                    text-transform: uppercase;
                }
                &-social {
                    margin-top: 54px;
                    display: flex;
                    justify-content: center;
                    a {
                        margin: 0 10px;
                        height: 30px;
                        width: 30px;
                        >img {
                            height: 20px;
                        }
                    }
                }
            }
            &__link {
                display: flex;
                justify-content: center;
                margin-top: 60px;
                margin-bottom: 40px;
                flex-flow: row wrap;
                &-iten {
                    padding: 6px 15px;
                    position: relative;
                    a {
                        font-size: 16px;
                        font-family: arial;
                        line-height: 16px;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
                &-item {
                    padding: 6px 15px;
                    position: relative;
                    a {
                        font-size: 16px;
                        font-family: arial;
                        line-height: 16px;
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                    }
                }
                &-item::after {
                    content: "";
                    background: white;
                    width: 2px;
                    height: 25px;
                    position: absolute;
                    top: 6%;
                    left: 0;
                }
            }
            &__bottom {
                text-align: center;
                &-txt {
                    color: white;
                    padding: 20px 0px 70px;
                }
            }
        }
    }
}