.pd {
    padding: 70px;
}

header {
    background: linear-gradient( 0deg, rgba(12, 36, 97, 0) 6%, rgba(0, 0, 0, 0.7175245098) 100%);
    transition: .8s cubic-bezier(0.75, 0.06, 0.05, 1);
    z-index: 300;
    height: 100px;
    width: 100%;
    position: fixed;
    @include tablet {}
    ;
    .container-fluid {
        height: 100%;
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        .hamberger {
            width: 50px;
            display: none;
            z-index: 1000;
            cursor: pointer;
            position: relative;
            @include transition(all .5s ease-in-out);
            @include tablet {
                padding-bottom: 10px;
                padding-left: 120px;
                display: flex;
            }
            @include mobile {
                display: flex;
            }
            justify-content: center;
            align-items: center;
            height: 50px;
            &.active {
                span {
                    opacity: 0;
                }
                &::before {
                    @include transform(rotate(45deg));
                }
                &::after {
                    @include transform(rotate(-45deg));
                }
            }
            span,
            &::before,
            &::after {
                @include line(30px, 3px, red);
                @include transition(all .5s ease-in-out);
                @include br(5px);
            }
            &::before {
                @include transform(translateY(-10px));
            }
            &::after {
                @include transform(translateY(10px));
            }
        }
        .menu {
            padding: 100px;
            display: flex;
            justify-content: space-between;
            width: 860px;
            text-transform: uppercase;
            color: white;
            li a {
                text-decoration: none;
                color: white;
            }
            @include tablet {
                display: none;
            }
        }
        .more {
            @include tablet {
                display: none;
            }
            display: flex;
            justify-content: space-between;
            width: 350px;
            text-transform: uppercase;
            color: white;
            i {
                >img {
                    width: 20px;
                    height: 20px;
                }
            }
            .more__item {
                a {
                    padding: 2px 15px 2px 15px;
                    background: red;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

.nav {
    @include tablet {}
    background: #f4352c;
    position: fixed;
    z-index: 301;
    width: 100vw;
    height: 100vh;
    top: 100px;
    transform: translateX(100%);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s;
    &.active {
        transform: translateX(0%);
        .logo {
            @include tablet {
                align-items: center;
                justify-content: center;
                display: flex;
                padding: 50px;
            }
            &::before {
                content: "";
                background: white;
                width: 2px;
                height: 500px;
                position: absolute;
                top: -145px;
                left: 150px;
                transform: rotate(90deg);
            }
        }
        .menumobile {
            line-height: 55px;
            width: 100%;
            color: white;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__item {
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font: 22px;
                }
            }
        }
        .moremobile {
            line-height: 55px;
            align-items: center;
            display: flex;
            justify-content: center;
            flex-direction: column;
            &__item {
                a {
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font: 22px;
                }
            }
        }
        .search {
            position: relative;
            margin-top: 10px;
            width: 100%;
            input {
                margin-left: 26px;
                width: 81%;
                height: 40px;
                padding-left: 40px;
                padding-right: 20px;
                border-radius: 50px;
                border: none;
            }
            i {
                img {
                    position: absolute;
                    top: 8px;
                    right: 10px;
                }
            }
            &::before {
                content: "";
                background: white;
                width: 2px;
                height: 500px;
                position: absolute;
                top: -265px;
                left: 150px;
                transform: rotate(90deg);
            }
        }
    }
    .logo {
        @include tablet {
            align-items: center;
            justify-content: center;
            display: flex;
            padding: 50px;
        }
    }
    .menumobile {
        &__item {
            display: flex;
            justify-content: center;
            flex-direction: column;
            color: white;
        }
    }
}

.main-wrapper {
    --pad: 140px;
    overflow: hidden;
    .slider {
        @include tablet {
            height: 100%;
        }
        position: relative;
        height: 100vh;
        .slider__list {
            position: relative;
            .slider__list-item {
                position: absolute;
                top: 0;
                left: 0;
                img {
                    @include tablet {
                        width: 500px;
                        height: 400px;
                    }
                    width: 100vw;
                    height: 100vh;
                }
            }
        }
        .slider__bottom {
            position: absolute;
            width: 100%;
            height: 360px;
            top: 403px;
            left: 0;
            .container-fluid {
                .font {
                    @include tablet {
                        position: absolute;
                        top: -47%;
                        left: -9%;
                        font-size: 20px;
                    }
                    font-size: 48px;
                    padding-left: 54px;
                    color: white;
                    >span {
                        text-transform: uppercase;
                    }
                }
                .bot {
                    @include tablet {
                        width: 100%;
                        position: absolute;
                        top: -50%;
                        left: -5%;
                    }
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    .left {
                        @include tablet {
                            padding-left: 30px;
                        }
                        transform: rotate(-1deg);
                        writing-mode: tb;
                        font-size: 14px;
                        line-height: 21.37px;
                        color: #baa697;
                        text-transform: inherit;
                        padding-left: 54px;
                        padding-top: 60px;
                        .icon {
                            @include tablet {
                                padding-top: 6px;
                            }
                            padding-top: 20px;
                        }
                    }
                    .right {
                        .number-page {
                            color: white;
                            text-transform: uppercase;
                            font-size: 73px;
                        }
                        .slash {
                            color: white;
                            font-size: 73px;
                        }
                        >span {
                            font-size: 50px;
                            color: #baa697;
                        }
                    }
                }
            }
        }
    }
    .mission {
        @include tablet {
            padding: 70px;
        }
        padding: 140px;
        &__slide {
            display: flex;
            align-items: center;
            min-height: 455px;
            position: relative;
            &-content {
                width: 35%;
                z-index: 1;
                position: relative;
                height: 300px;
                .txt {
                    @include tablet {
                        top: 0;
                        left: -69px;
                    }
                    // left: 215px;
                    max-width: 480px;
                    position: absolute;
                    // top: 0;
                    // left: 0;
                    background-color: white;
                    &:after {
                        content: "";
                        background: #000;
                        width: 2px;
                        height: 223px;
                        position: absolute;
                        top: -146px;
                        left: 0;
                        transform: rotate( 90deg);
                    }
                    h2 {
                        @include tablet {
                            font-size: 20px;
                            text-transform: uppercase;
                        }
                        @include text(60px, none, 81px, black, uppercase);
                    }
                    p {
                        @include tablet {
                            font-size: 12px;
                        }
                        letter-spacing: 0.4px;
                        margin-top: 24px;
                        letter-spacing: 1px;
                        font-family: arial;
                        text-transform: initial;
                        @include text(22px, none, 22px, black, none);
                    }
                }
            }
            &-right {
                position: absolute;
                top: 0;
                right: -140px;
                min-height: 500px;
                width: 65%;
                .btn {
                    @include tablet {
                        position: absolute;
                        bottom: 18px;
                        left: -133px;
                    }
                    --number: 60px;
                    width: max-content;
                    z-index: 4;
                    display: flex;
                    background-color: blue;
                    bottom: 0;
                    left: -60px;
                    position: absolute;
                    .prev {
                        transform: rotate( 180deg);
                        &::after {
                            content: "";
                            background: white;
                            width: 3px;
                            height: 47px;
                            top: 6px;
                            position: absolute;
                            left: -2px;
                        }
                    }
                    .next {}
                    .prev,
                    .next {
                        cursor: pointer;
                        width: var(--number);
                        height: var(--number);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: red;
                        img {
                            width: 100%;
                            height: 33px;
                        }
                    }
                }
                .allimg {
                    @include tablet {
                        height: 400px;
                    }
                    position: relative;
                    height: 500px;
                    .img1 {
                        @include tablet {
                            position: absolute;
                            top: 82px;
                            left: -133px;
                            height: 100%
                        }
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        img {
                            width: 100%;
                            height: 100%;
                            ;
                        }
                    }
                }
            }
        }
    }
    .product {
        padding-top: var(--pad);
        position: relative;
        height: 973px;
        display: flex;
        align-items: center;
        .container {
            @include tablet {
                width: 470px;
            }
            height: 100%;
            .products {
                &__text {
                    h1 {
                        text-align: center;
                        font-size: 60px;
                        font-family: arial;
                        line-height: 65px;
                        color: #000;
                        text-transform: uppercase;
                        width: 100%;
                    }
                    .des {
                        padding-top: 20px;
                        font-size: 20px;
                        font-family: arial;
                        width: 100%;
                        text-align: center;
                    }
                }
            }
            .col3 {
                &__items {
                    @include tablet {
                        margin-bottom: 131px;
                        left: -377px;
                        justify-content: space-between;
                        display: flex;
                        width: 1160px;
                        padding-top: 108px;
                    }
                    display: grid;
                    grid-template-columns: 1fr 410px 1fr;
                    grid-template-rows: 606px;
                    grid-gap: 64px;
                    padding: 0 30px;
                    align-items: center;
                    position: relative;
                    &-bike {
                        height: 422px;
                        width: 100%;
                        padding: 20px;
                        position: relative;
                        >img {
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            position: absolute;
                        }
                        .numberlike {
                            @include tablet {
                                left: 36px;
                            }
                            z-index: 1;
                            position: absolute;
                            padding: 5px;
                            top: 0;
                            left: -7px;
                            &__1 {
                                padding-bottom: 20px;
                                display: flex;
                                flex-direction: column;
                                .title {
                                    text-transform: uppercase;
                                    font-size: 48px;
                                    color: white;
                                }
                                .nb {
                                    text-transform: uppercase;
                                    font-size: 48px;
                                    color: white;
                                }
                            }
                            .click {
                                text-decoration: none;
                                text-transform: uppercase;
                                padding: 5px 20px 5px 20px;
                                border-radius: 30px;
                                background: red;
                                color: white;
                            }
                        }
                    }
                    &-bike.main {
                        max-height: 100%;
                        width: 100%;
                        .numberlike {
                            @include tablet {
                                left: -22px;
                            }
                            z-index: 1;
                            position: absolute;
                            padding: 5px;
                            top: -50px;
                            left: 20px;
                        }
                    }
                }
            }
        }
    }
    .personality {
        @include tablet {
            margin-top: 200px;
        }
        margin-top: var(--pad);
        position: relative;
        width: 100%;
        background-image: url(../imgs/img/home/banner-see-more.jpg);
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100vh;
        .container {
            @include tablet {
                position: absolute;
                top: 160px;
                left: 37px;
            }
            position: absolute;
            top: 373px;
            left: 251px;
            .personalitys {
                &__text {
                    // @include tablet {
                    //     position: absolute;
                    //     left: -200px;
                    //     top: -223px;
                    // }
                    .title {
                        text-transform: uppercase;
                        font-size: 60px;
                        line-height: 65px;
                        color: #000;
                        font-family: Arial, Helvetica, sans-serif;
                    }
                    .txt {
                        padding-left: 5px;
                        letter-spacing: 0.4px;
                        margin-top: 24px;
                        font-size: 22px;
                        font-family: arial;
                        line-height: 25px;
                        color: #000;
                        text-transform: initial;
                    }
                }
            }
        }
    }
    .news {
        padding-top: var(--pad);
        position: relative;
        .container {
            .newss {
                &__text {
                    width: 100%;
                    .title {
                        text-align: center;
                        font-size: 60px;
                        font-family: arial;
                        line-height: 65px;
                        color: #000;
                        text-transform: uppercase;
                    }
                    .txt {
                        text-align: center;
                        letter-spacing: 0.4px;
                        margin-top: 24px;
                        font-size: 22px;
                        font-family: arial;
                        line-height: 25px;
                        color: #000;
                        text-transform: initial;
                    }
                }
                &__list {
                    @include tablet {
                        padding-left: 30px;
                        padding-right: 30px;
                        margin-top: 80px;
                        display: flex;
                        justify-content: space-evenly;
                    }
                    border: 1px solid #efefef;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-gap: 30px;
                    padding-left: 30px;
                    padding-right: 30px;
                    margin-top: 80px;
                    &-item {
                        @include tablet {
                            padding: 0 -1px 0 20px;
                        }
                        .col3 {
                            position: relative;
                            .hinh {
                                height: 477px;
                            }
                            .wrap {
                                position: absolute;
                                top: 333px;
                                left: 3px;
                                width: 338px;
                                height: 230px;
                                .text {
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    text-align: center;
                                    padding: 0 36px;
                                    font-size: 20px;
                                    font-family: dinea;
                                    line-height: 40px;
                                    color: #000;
                                    text-transform: uppercase;
                                    .exp {}
                                }
                                .detail {
                                    text-align: center;
                                    margin-top: 20px;
                                    a {
                                        text-decoration: underline;
                                        font-size: 16px;
                                        font-family: arial;
                                        line-height: 21.37px;
                                        color: #000;
                                        text-transform: initial;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .text-red {}
    }
    .network {
        margin-top: 130px;
        padding-top: var(--pad);
        // background-image: url(../../../imgs/img/home/banner-network.jpg);
        // background-position: center;
        height: 650px;
        position: relative;
        .container {
            height: 100%;
            .networks {
                &__text {
                    height: 530px;
                    z-index: 10;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    h1 {
                        font-family: arial;
                        font-size: 60px;
                        text-transform: uppercase;
                        text-align: center;
                    }
                    .txt {
                        text-align: center;
                        letter-spacing: 0.4px;
                        margin-top: 24px;
                        font-size: 22px;
                        font-family: arial;
                        line-height: 25px;
                        color: #000;
                        text-transform: initial;
                        margin-bottom: 300px;
                    }
                    .text-red {}
                }
                &__bg {
                    position: absolute;
                    top: 0;
                    left: 0;
                    @include tablet {
                        width: 100%;
                        height: 100vh;
                    }
                }
                &__global {
                    @include tablet {
                        position: absolute;
                        width: 350px;
                        height: 100vh;
                        left: -157px;
                    }
                    top: 40%;
                    width: 80%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: -30px;
                }
                &__btn {}
            }
        }
    }
}

.back-to-top {
    display: none;
    position: fixed;
    background: red;
    right: 50px;
    bottom: 13px;
    border-radius: 50%;
    cursor: pointer;
    transition: 8s;
    &.active {
        transition: 8s;
        opacity: 1;
        visibility: visible;
        display: block;
    }
}